DerivedData/*
build/*
*.yaml
MacKernelSDK
Lilu.kext/*
.DS_Store
Polaris22Fixup.xcodeproj/project.xcworkspace/xcuserdata/dave.xcuserdatad/UserInterfaceState.xcuserstate
Polaris22Fixup.xcodeproj/project.xcworkspace/xcuserdata/dave.xcuserdatad/UserInterfaceState.xcuserstate
